/**
 * Progress Style
 **/

.progress-bar {
	cursor: pointer;
}

.progress-outer-bar {
	fill: @progress-outer-bar-fill;
}

.progress-inner-bar {
	fill: @progress-inner-bar-fill;
}

.progress-inner-bar.progress-main {
	fill: green;
}

.progress-year {

}