/**
 * Sunburst Style
 **/

.sunburst-path {
  cursor: pointer;
}

.sunburst-percentage {
  font-size: 2em;
  display: block;
}

.sunburst-text {
  display: block;
}

.sunburst-path-0-4 {
	fill: darkred;
}

.sunburst-path-5-9 {
	fill: orange;
}

.sunburst-path-10-14 {
	fill: yellow;
}

.sunburst-path-15-20 {
	fill: lightgreen;
}

.sunburst-path-approved {
	fill: green;
}

.sunburst-path-flunked {
	fill: red;
}

.sunburst-path-not-evaluated {
	fill: darkred
}