---
layout: default
---
<h3>{{ page.title }}</h3>

<p class="help-block" style="margin-bottom: 20px">{{page.description}}</p>

<div id="ss"><select class="pull-right"></select></div>
<script>
  var subjects = [["example.json", "Computação Gráfica"], ["example2.json", "Sistemas Operativos"]];
  var subjectSel = d3.select("select");
  subjectSel.selectAll("option")
      .data(subjects)
    .enter().append("option")
      .attr("value", function(d) {return d[0];})
      .text(function(d) {return d[1];});
  subjectSel.on("change", function change() {
    d3.json(this.options[this.selectedIndex].value, function(data) { return viz.update(data); });
  });
</script>

<div id="visualization"></div>


<h4 style="margin-top: 30px">Invocation Example</h4>
{% highlight javascript %}{{page.sample_call}}{% endhighlight %}

<h4 style="margin-top: 30px">JSON Example</h4>
{{ content }}

{% if page.opts != null %}
<h4 style="margin-top: 30px">Optional Parameters</h4>

You are free to customize the visualization through optional parameters.

{% highlight javascript %}
  SViz.loadViz("showCourses", "data.json", "#visualization", {"width": "300px"});
{% endhighlight %}


<table class="table table-bordered table-condensed">
  <thead>
    <th>Name</th> <th width="50%">Default Value</th> <th>Description</th>
  </thead>
  <tbody>
  {% for item in page.opts %}
     <tr>
       <td>{{item[0]}}</td> <td>{{item[1]}}</td> <td>{{item[2]}}</td>
     </tr>
  {% endfor %}
  </tbody>
</table>
{% endif %}

<script>
  SViz.init({ localesBasePath: "{{site.baseurl}}/js" });
  var viz;
  d3.json("{{site.baseurl}}/visualizations/{{page.path}}/example.json", function(data) {
    viz = SViz.loadViz("{{ page.call }}", data, "#visualization" {{page.call_args}});
  });
</script>