---
layout: default
---
<h3>{{ page.title }}</h3>

<p class="help-block" style="margin-bottom: 20px">{{page.description}}</p>

<div id="visualization"></div>
<script> 
  SViz.loadViz("{{ page.call }}", "{{site.baseurl}}/visualizations/{{page.path}}/example.json", "#visualization" {{page.call_args}});
</script>

<h4 style="margin-top: 30px">Invocation Example</h4>
{% highlight javascript %}{{page.sample_call}}{% endhighlight %}

<h4 style="margin-top: 30px">JSON Example</h4>
{{ content }}

<h4 style="margin-top: 30px">Optional Parameters</h4>
<table class="table table-bordered table-condensed">
  <thead>
    <th>Name</th> <th width="50%">Default Value</th> <th>Description</th>
  </thead>
  <tbody>
  {% for item in page.opts %}
     <tr>
       <td>{{item[0]}}</td> <td>{{item[1]}}</td> <td>{{item[2]}}</td>
     </tr>
  </tbody>
  {% endfor %}
</table>
